{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <h1 class="mt-5">Lists Cards </h1>
        <div class="col-12 mt-2">
            <div class="row">
                {% for card in cardsList %}
                    <div class="card card-style" style="width: 14rem;">
                        <img alt="picture"
                             src="{{ asset('uploads/img/cards/') ~ card.imgFileName }} "
                             class=" img-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ card.name }}</h5>
                            <div class="col-12 ml-3">
                                <div class="row">
                                    <div id="cercle"><p>{{ card.attack }}</p></div>
                                    <div id="cercle"><p>{{ card.lifePoint }}</p></div>
                                    <div id="cercle"><p>{{ card.cost }}</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}